*.bam
*.bam.bai
*.bed
*.bx
*.ema-fcnt
*.ema-ncnt
*.fa
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.fai
*.fa.pac
*.fa.sa
*.fasta
*.fastq.gz
*.fq.gz
*.gfa
*.gv
*.html
*.json
*.log
*.md
*.path
*.pdf
*.png
*.tar
*.tsv
*.txt
__pycache__/
!README.md
