*.bam
*.bam.bai
*.bed
*.bx
*.ema-fcnt
*.ema-ncnt
*.fa
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.fai
*.fa.pac
*.fa.sa
*.fasta
*.fastq.gz
*.fq.gz
*.gfa
*.gff
*.gv
*.html
*.json
*.log
*.md
*.paf.gz
*.path
*.pdf
*.ps
*.png
*.quast/
*.sam.gz
*.sh
*.stamp
*.tar
*.time
*.tsv
*.txt
!f1.quast.tsv
!f1.quast.table.tsv
